body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
    font-size: 10px;
<<<<<<< HEAD
    font-family: 'Courier New', Courier, monospace;
}
=======
}







>>>>>>> hello-world-images
